.webgl-chevron[data-v-520e4343] {
    display: grid;
    height: calc(100svh + 2px);
    overflow: hidden;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.canvas-wrapper[data-v-520e4343] {
    grid-column-start: 1;
    grid-row-start: 1;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    z-index: 1
}

.typewriter[data-v-092f5597] p {
    -moz-column-gap: .25em;
    column-gap: .25em;
    display: flex;
    flex-wrap: wrap
}

.sub-hero[data-v-a2bab3a6] {
    pointer-events: none;
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity, 1));
    height: 100svh
}

.sub-hero[data-v-a2bab3a6] .site-grid {
    --cols: 1
}

@media (min-width:768px) {
    .sub-hero[data-v-a2bab3a6] .site-grid {
        --cols: 5
    }
}

.copy[data-v-a2bab3a6] {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-family: Aeonik Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    row-gap: .9em;
    text-transform: uppercase
}

@media (min-width:768px) {
    .copy[data-v-a2bab3a6] {
        grid-column-end: 6;
        grid-column-start: 4;
        grid-row-start: 1
    }
}

.justified-text[data-v-014f0b0b] {
    font-family: OT Brut, serif;
    position: relative;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity, 1))
}

.justified-text[data-v-014f0b0b] .site-grid {
    --cols: 1
}

[data-v-014f0b0b] p {
    display: flex;
    flex-direction: column
}

[data-v-014f0b0b] .line {
    -moz-column-gap: .3em;
    column-gap: .3em;
    display: flex;
    justify-content: space-between;
    position: relative
}

.logo-draw[data-v-26f2c569] {
    position: relative;
    z-index: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity, 1))
}

.logo-draw[data-v-26f2c569] .site-grid {
    grid-template-areas: "a a a a a a" ". . . . . ." "b b b b b b" ". . . . . ." "c c c c c c";
    grid-template-rows: auto 2.5rem auto 4rem auto
}

@media (min-width:768px) {
    .logo-draw[data-v-26f2c569] .site-grid {
        grid-template-areas: "a a a a a" ". . . . ." "b b b b b" ". . . c c";
        grid-template-rows: auto 2.5rem auto auto
    }
}

.instructions[data-v-26f2c569] {
    font-family: Aeonik Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    grid-area: a;
    text-transform: uppercase
}

.canvas-wrapper[data-v-26f2c569] {
    aspect-ratio: 11/17;
    display: grid;
    grid-area: b;
    overflow: hidden;
    position: relative;
    z-index: 1
}

@media (min-width:768px) {
    .canvas-wrapper[data-v-26f2c569] {
        aspect-ratio: 53/17
    }
}

.canvas[data-v-26f2c569] {
    grid-column-start: 1;
    grid-row-start: 1;
    height: 100%;
    width: 100%
}

.copy[data-v-26f2c569] {
    grid-area: c;
    text-transform: uppercase
}

.image[data-v-26f2c569] {
    grid-column-start: 1;
    grid-row-start: 1;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1
}

.services[data-v-da81d76f] {
    height: 1100svh;
    margin-top: -100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity, 1))
}

[data-services-visible=true] .services[data-v-da81d76f] {
    background-color: #fff0
}

.wrapper[data-v-da81d76f] {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0
}

[data-services-visible=false] .wrapper[data-v-da81d76f] {
    opacity: 0;
    pointer-events: none
}

.inner[data-v-da81d76f] {
    grid-column-start: 1;
    grid-row-start: 1;
    height: 100%;
    padding-bottom: 5rem;
    padding-top: 5rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.inner[data-v-da81d76f] .site-grid {
    grid-template-areas: "a a a a a a" "x x x x x x" "b b b b b b" "c c c c c c" ". . . . . .";
    grid-template-rows: auto auto auto auto 1fr
}

@media (min-width:768px) {
    .inner[data-v-da81d76f] .site-grid {
        grid-template-areas: "a a a a a" ". . . . ." "b b b b b" "c c . d e";
        grid-template-rows: auto max(150px, 20svh) auto auto 1fr
    }
}

[data-services-visible=false] .inner[data-v-da81d76f] {
    opacity: 0;
    pointer-events: none
}

.header[data-v-da81d76f] {
    grid-area: a
}

.canvas-mobile-wrapper[data-v-da81d76f] {
    aspect-ratio: 1/.8;
    display: grid;
    margin-left: -10px;
    margin-right: -10px
}

@media (min-width:768px) {
    .canvas-mobile-wrapper[data-v-da81d76f] {
        display: none
    }
}

.canvas-mobile-wrapper[data-v-da81d76f] {
    grid-area: x
}

.canvas-mobile-wrapper[data-v-da81d76f]>* {
    grid-column-start: 1;
    grid-row-start: 1
}

.number[data-v-da81d76f] {
    grid-column-start: 1;
    grid-row-start: 1;
    transition-duration: .5s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.title[data-v-da81d76f] {
    font-family: Aeonik Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase
}

.service-header[data-v-da81d76f] {
    display: flex;
    font-family: OT Brut, serif;
    letter-spacing: -.08em;
    position: relative;
    text-transform: uppercase
}

@media (max-width:767px) {
    .service-header[data-v-da81d76f] {
        flex-direction: column;
        margin-bottom: .5em;
        padding-top: .3em
    }
}

@media (min-width:768px) {
    .service-header[data-v-da81d76f] {
        justify-content: space-between;
        margin-bottom: .15em;
        padding-bottom: .1em
    }
}

.service-header[data-v-da81d76f] {
    grid-area: b
}

.service-header[data-v-da81d76f]:after {
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    transform-origin: left;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity, 1));
    transition-delay: .2s;
    transition-duration: 1.5s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --tw-content: "";
    content: var(--tw-content)
}

@media (max-width:767px) {
    .service-header[data-v-da81d76f]:after {
        top: 0
    }
}

@media (min-width:768px) {
    .service-header[data-v-da81d76f]:after {
        bottom: 0
    }
}

[data-fully-visible=false] .service-header[data-v-da81d76f]:after {
    --tw-scale-x: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-delay: 0s;
    transition-duration: 0s
}

.description[data-v-da81d76f] {
    font-family: Aeonik Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase
}

@media (max-width:767px) {
    .description[data-v-da81d76f] {
        margin-bottom: 2em
    }
}

@media (min-width:768px) {
    .description[data-v-da81d76f] {
        max-width: 23em
    }
}

.description[data-v-da81d76f] {
    grid-area: c
}

.items[data-v-da81d76f] {
    display: flex;
    flex-direction: column;
    font-family: Aeonik Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    row-gap: .5em;
    text-transform: uppercase
}

@media (max-width:767px) {
    .items[data-v-da81d76f] {
        display: none
    }
}

@media (min-width:768px) {
    .items[data-v-da81d76f] {
        justify-self: start
    }
}

.items[data-v-da81d76f] {
    grid-area: d
}

@media (min-width:768px) {
    .items[data-v-da81d76f] {
        grid-area: d/d/d/e
    }
}

.buttons[data-v-da81d76f] {
    align-self: flex-start;
    -moz-column-gap: .6em;
    column-gap: .6em;
    display: flex;
    justify-self: end
}

@media (max-width:767px) {
    .buttons[data-v-da81d76f] {
        display: none
    }
}

.buttons[data-v-da81d76f] {
    grid-area: e
}

.webgl-enter-active[data-v-da81d76f],
.webgl-leave-active[data-v-da81d76f] {
    transition-duration: .2s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.webgl-enter-from[data-v-da81d76f],
.webgl-leave-to[data-v-da81d76f] {
    opacity: 0
}

.justified-text-01[data-v-537b86c7] {
    overflow: hidden;
    padding-bottom: 8rem;
    padding-top: 8rem;
    position: relative;
    z-index: 1
}

[data-services-visible=true] .justified-text-01[data-v-537b86c7] {
    opacity: 0
}

.justified-text-02[data-v-537b86c7] {
    display: flex;
    flex-direction: column;
    margin-top: -100vh;
    overflow: hidden;
    position: relative;
    row-gap: 5rem;
    z-index: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity, 1));
    padding-bottom: 16rem;
    padding-top: 7rem
}

@media (min-width:768px) {
    .justified-text-02[data-v-537b86c7] {
        row-gap: 10rem
    }
}

[data-services-visible=true] .justified-text-02[data-v-537b86c7] {
    opacity: 0
}

.logo-draw[data-v-537b86c7] {
    padding-bottom: 6rem;
    padding-top: 6rem
}

@media (max-width:767px) {
    .logo-draw[data-v-537b86c7] {
        display: none
    }
}

[data-services-visible=true] .logo-draw[data-v-537b86c7] {
    opacity: 0
}